<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 px-4 pt-8">
    <div *ngFor="let news of newsList" (click)="openNewsUpdate(news)" class=" group cursor-pointer relative bg-white rounded-lg shadow-md hover:scale-105 transition-all duration-300">
        <img src="../../../assets/cover.jpg" alt="News Image" class="object-cover w-full h-48 rounded-t-lg">
        <div class="p-4">
            <h2 class="text-xl font-semibold">{{ news.title }}</h2>
        </div>
        <i (click)="confirmDeleteNews(news)" class="pi pi-times absolute top-3 right-3 hidden text-white hover:text-red-500 text-lg group-hover:block"></i>
    </div>
</div>
<button (click)="addModal()" class="px-4 py-3 absolute bottom-8 shadow-md right-8 bg-lime-500 hover:bg-lime-600 rounded-full  transition-all duration-300">
    <i class="pi pi-plus text-white text-lg"></i>
</button>
