<div class="flex flex-col h-screen w-[18vw] bg-neutral-100">
    <!-- Logo -->
    <div class="p-4">
        <img src="../../../assets/intellcap_logo.png" alt="Logo" class="w-full h-auto">
    </div>

    <!-- Links -->
    <nav class="flex-grow">
        <ul class="flex flex-col space-y-4">
            <li>
                <a routerLink="/admin/home" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-home  text-lg"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/users" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300 " routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-users  text-lg"></i>
                    <span>Users</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/announcements" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-bell text-lg"></i>
                    <span>Announcements</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/news" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-globe text-lg"></i>
                    <span>News</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/posters" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-image text-lg"></i>
                    <span>Posters</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/profile" class="px-4 py-2 flex items-center space-x-2 hover:bg-neutral-300" routerLinkActive="text-lime-500 font-bold">
                    <i class="pi pi-user text-lg"></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- User info and logout -->
    <div class="p-4 flex items-center justify-between">
        <button (click)="logout()" routerLink="/login" class="px-4 py-2  bg-lime-500 hover:bg-lime-600 rounded-l-full rounded-r-sm transition-all duration-300 rounded">
            <i class="pi pi-arrow-left text-white text-lg"></i>
        </button>
        <div class="flex justify-between items-start">
            <div class="flex flex-col items-start justify-start">
                <p class=" mr-2 mt-0">{{ currentUser!.firstName }} {{ currentUser!.lastName }}</p>
                <div class="flex gap-2 items-center justify-center">
                    <i class="pi pi-circle-fill text-[11px]  text-green-400"></i>
                    <p class="text-xs">Online</p>
                </div>
            </div>
            <div class="rounded-full w-[45px] h-[45px] overflow-hidden">
                <img src="../../../assets/profile.jpg" alt="Profile Picture" />
            </div>
        </div>
        
    </div>
</div>
